* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --explodeColor: rgba(0, 255, 255, 0.548);
  --explodeColor2: rgba(255, 105, 180, 0.666);
}
body {
  background: rgba(243, 103, 103, 0.836);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

#board {
  width: 40%;
  padding-top: 40%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.452);
  border: 5px solid slategray;
  border-radius: 10px;
  overflow: hidden;
}

#board img {
  position: absolute;
  width: 11.11%;
  height: 11.11%;
  z-index: 2;
}

.boom {
}

@keyframes explode {
  0% {
    transform: scale(1);
  }
  80% {
    opacity: 0;
    transform: scale(2);
  }
}
.particle {
  position: absolute;
  width: 11.11%;
  height: 11.11%;
  background: transparent;
}
.particle::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--explodeColor);
  border-radius: 100%;
  animation: explode 1s;
}

.none {
  display: none;
}
